<details>
<summary>Click here to learn how to write these pages</summary>
<p>Just write it in this format:</p>
<code>
    Normal text<br>
    Go into the bar -> bar<br>
    Go outside -> outside<br>
    Run away from scary litevex -> scaryChase1
</code>
<p>Every line with an arrow is a link and can be set to a location id to go to, even if it doesn't exist yet.</p>
<p>You can also add key inputs like this: <code>key -> SECRETKEY -> location</code>. Then, entering the key will be required to go to the location.</p>
</details>