<header class="main">
    <h1>CoTA</h1>
    <nav>
        <ul>
            <li><a href="/game?location=start">Restart</a></li>
            <li><a href="/edit?location={{locationId}}">Edit location</a></li>
        </ul>
    </nav>
</header>